a:link{
    color: aquamarine;
    
}
a:visited{
    color: blue;
}
a:active{
    color: brown;
    background-color: black;
}
a:hover{
    background-color: blueviolet;
    color: aliceblue;
}
a:focus{
    color: aquamarine;
}
#text{
    background-color: antiquewhite;
    text-transform: uppercase;
}
#text:hover{
    background-color: azure;
}
#text:focus{
    background-color: blue ;
    color: salmon;
}
.box{
    border-color: wheat;
    border-width: 1px;
    background-color: aqua;
    padding-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 111px;
    margin-left: 111px;
    text-align: justify;
    text-align-last: center;
    
}